html5lib==1.1
isodate==0.6.1
labelify @ git+https://github.com/Kurrawong/labelify@d41d0b4693483c02b5e122e5a1909fa816e0ffff
owlrl==6.0.2
packaging==24.1
prettytable==3.11.0
pyparsing==3.2.0
pyshacl==0.27.0
rdflib==7.0.0
six==1.16.0
SPARQLWrapper==2.0.0
wcwidth==0.2.13
webencodings==0.5.1
